[submodule "microservices/temperature-monitoring"]
	path = microservices/temperature-monitoring
	url = https://github.com/ThiagoBertachini/ems-algasensors-temperature-monitoring.git
[submodule "microservices/temperature-processsing"]
	path = microservices/temperature-processsing
	url = https://github.com/ThiagoBertachini/ems-algasensors-temperature-processsing.git
[submodule "microservices/device-management"]
	path = microservices/device-management
	url = https://github.com/ThiagoBertachini/ems-algasensors-device-management.git
